.dosageheadings
{
  display:grid;
  grid-template-rows: 1.5rem auto;
  justify-content: space-between;
}

@media only screen and (max-width: 800px)
{
  .dosageheadings
  {
    grid-template-columns: 75%;
  }
}

@media only screen and (max-width: 1000px)
{
  .dosageheadings
{
  grid-template-columns: 40% 40%;
}
}

@media only screen and (max-width: 3000px)
{
  .dosageheadings
{
  grid-template-columns: 20% 20% 20% 20%;
}
}

.notvisible
{
  visibility: hidden;
  display:none;
}

.statuslabel
{
  color: #666666;
  font-size: 13pt
}

.statusvalue
{
  margin-right: 2rem;
}
body
{
  font-size: 14pt;
  font-family: sans-serif;
  background-color: #eeeeee;
  color:#333333;
}

option
{
  padding:3px;
}

textarea
{
  padding:3px;
  width: 95%;
  height: 10rem;
}

article
{
  margin:1.5rem 1rem 1.5rem 1rem;
  border: solid 1pt #cccccc;
  padding:10px;
}

.transactiondetails
{
  display:grid;
  grid-template-columns: 8rem 15rem;
  grid-column-gap: 15px;
  grid-row-gap: 10px;
}

.transactionrow
{
  padding-top: 3px;
  padding-bottom: 3px;
  border-bottom: solid 1pt #dddddd;
}

.transactionarea
{
  height: 10rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

.transactionhighlight
{
  background-color: #222222;
  color: #eeeeee;
}

.NewDosageButton
{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #f9f1f1;
  border: outset 1pt #777777;
}

.existingrecordstable
{
  display: grid;
  grid-template-rows: 1.5rem 1.5rem auto;
  grid-row-gap: 20px;
}

.basictests
{
  display: grid;
  grid-template-columns: 7rem 8rem 7rem 8rem;
  grid-gap: .5rem;
}

.testaction
{
  grid-row:4;
  grid-column: 4;
}

.ModalPosition
{
  align-items: center;
	bottom: 0;
	justify-content: center;
	left: 25%;
	position: fixed;
	right: 0;
	top: 25%;
  border: outset thin #666666;
  padding:1rem;
  width:fit-content;
  height:fit-content;
  background: rgba(255, 255, 255, 0.85);
}
